.button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
  height: 35px;
  margin-right: 8px;
  width: 100%;
  @media (min-width: 768px) {
    width: unset;
  }
}
